<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><span style="color: blue"><%=userInfo.name %> </span>님 마이페이지</h1>

    <img src="/<%=imgsrc%> " alt="SeSAC" style="width: 200px" />
    <br />

    아이디 : <%=userInfo.id%> <br />
    비밀번호 : <%=userInfo.pw%> <br />
    이름 : <%=userInfo.name %> <br />
    나이 : <%= userInfo.age %> <br />
  </body>
</html>
