<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3><span><%=userInfo.name%>님 환영합니다.</span></h3>
    <ul>
      <li>성별: <%=userInfo.gender%></li>
      <li>
        생년월일: <%=userInfo.year%>/<%=userInfo.month%>/<%=userInfo.date%>
      </li>
      <!-- <li>생년월일: 1990/12/12</li> -->
      <li>관심사:<%=userInfo.favorite%></li>
    </ul>

    <a href="/">홈으로 이동하기</a>
  </body>
</html>
